@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
  margin: auto;
}

html {
  scroll-behavior: smooth;
  width: 100%;
}

.visible {
  overflow-x: hidden;
  position: relative;
}

h1,
h2,
h3 {
  font-family: 'IBM Plex Sans', sans-serif;
}

h2 {
  font-size: 48px;
}

p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

ul {
  display: flex;
  flex-direction: row;
  margin-right: 100px;
}

li {
  list-style: none;
  font-size: 16px;
  line-height: 28px;
  padding-left: 48px;
}

.mobile-menu {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

.anchor {
  color: black;
  text-decoration: none;
}

.anchor:hover {
  color: #00F3BB;
  text-decoration: line-through;
}

.anchor:active {
  color: #060A24;
  text-decoration: line-through;
}



.title {
  font-size: 64px;
  color: #060A24;
  width: 100%;
}

.article {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.span-world {
  text-decoration: line-through;
}

.span-dot {
  color: #0000EC;
}

.description {
  max-width: 628px;
}

.boton {
  font-family: 'IBM Plex Mono', monospace;
  background-color: #00F3BB;
  max-height: 56px;
  padding: 59px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  max-width: 345px;
  display: block;
  margin: 16px;
}

.boton:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: white;
}

.conoce-mas {
  margin-top: 56px;
  width: 226px;
}

.icon {
  display: flex;
  width: 24px;
  height: 24px;
  margin-right: 0px;
}


.desktop-menu {
  display: flex;
  justify-content: flex-end;
}

.title-blanco {

  color: white;
  width: 100%;
  text-align: center;
}

.episodios {
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  clip-path: polygon(0 8%, 100% 0, 100% 93%, 0% 100%);
  width: 1200px;
  height: 1200px;

}

.episodios-title {
  display: flex;
  margin-top: 186px;
  margin-left: 200px;
}

.episodios-div-top {
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}

.episodios-div {
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: -150px;
}

.podcast {
  width: 500px;
  height: 232px;
  display: flex;
  margin-left: -16px;
}

.section-donde-venimos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.div-donde-venimos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 464px;
}

.img-phone {
  max-width: 457px;
  max-height: 660px;
  margin-left: -60px;
  display: flex;
  transform: translateY(-80px);
  z-index: 1;
}

.contenedor-img-inv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
}

.img-inv {
  width: 33%;
  margin-left: -16px;
  margin-right: -16px;
}

.logos-contenedor {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 100px;
  margin-right: 50px;
  text-align: center;
}

.logo {
  width: 150px;
}

.novedades-section {
  height: 518px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  clip-path: polygon(0 23%, 100% 0, 100% 100%, 0% 100%);
  margin-left: -32px;
  margin-right: -32px;
}

.footer {
  margin: 36px;
  display: flex;
  justify-content: space-between;

}

.icons {
  height: 28px;
  width: 18px;
  display: flex;
  padding-left: 36px;
  padding-right: 36px;
}

.icons:hover {
  transform: scale(2, 2);
}

.icons-div {
  display: flex;
  justify-content: flex-end;
  margin: 16px;
}

.img-logo {
  width: 36px;
  height: 36px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header p {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width:480px) {

  body {
    max-width: 480px;
  }

  .visible {
    max-width: 480px;
  }

  .section-donde-venimos {
    display: flex;
    flex-direction: column;
  }

  .img-inv {
    width: 100%;
  }

  .contenedor-img-inv {
    flex-direction: column;
  }

  .logos-contenedor {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
  }

  .footer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .boton {
    width: 100%;
  }

  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: flex;

  }

  .linea {
    width: 18px;
    height: 2px;
    background: black;
    transition: all 0.5s;
    border-radius: 8px;
  }

  .label-burger {
    height: 18px;
  }

  .container-burger {
    display: flex;
    height: 18px;
    flex-direction: column;
    justify-content: space-between;
  }

  .custom-checkbox {
    display: none;
  }

  .custom-checkbox:checked+.label-burger .linea-med {
    opacity: 0;
  }

  .custom-checkbox:checked+.label-burger .linea-top {
    transform: translate(0, 8px) rotate(-45deg);
    background: rgba(0, 0, 236, 1);
  }

  .custom-checkbox:checked+.label-burger .linea-low {
    transform: translate(0px, -8px) rotate(45deg);
    background: rgba(0, 0, 236, 1);
  }

  .menu-container {
    background: rgba(0, 0, 236, 1);
    height: 256px;
    width: 100%;
    position: absolute;
    left: 200%;
    transition: all 0.5s ease-out;
    margin-top: 30px;
  }

  .custom-checkbox:checked~.menu-container {
    left: 0;
  }

  li {
    display: flex;
    list-style: none;
    transition: all 0.5s;
    height: 25%;
    padding-left: 10px;
    align-items: center;
  }

  li:hover {
    color: rgba(0, 0, 236, 1);
    background-color: rgba(255, 255, 255, 0.688);
  }

  ul {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    background: #0000ec;
  }

  .anchor,
  .anchor:active,
  .anchor:hover {
    color: white;
    text-decoration: none;
    width: 100%;
  }

  .episodios {
    width: 480px;
    height: auto;
  }

  .episodios-title {
    margin-top: 150px;
    margin-left: 50px;
  }

  .podcast {
    width: 90%;
    height: 225px;
    margin-top: 11px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .episodios-div,
  .episodios-div-top {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    display: flex;
    margin: 0px;
    margin-left: 30px;
  }

  .episodios-div:last-child {
    padding-bottom: 100px;
  }
}